#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=salariosRevuelto
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ldcafdjdibfeeobaimckolabhdolbkji
Icon=chrome-ldcafdjdibfeeobaimckolabhdolbkji-Default
StartupWMClass=crx_ldcafdjdibfeeobaimckolabhdolbkji
