#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=salarios3
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=omampaefghcgkhbigahkikbfcokfnchd
Icon=chrome-omampaefghcgkhbigahkikbfcokfnchd-Default
StartupWMClass=crx_omampaefghcgkhbigahkikbfcokfnchd
